#feed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#feed .post {
    background-color: #333;
    
    width: 60%;

    padding: 1rem;

    border-radius: 1rem;
    overflow-y: hidden;
}

#feed .post .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    position: relative;

    padding-bottom: 0.5rem;
    border-bottom: 1px solid #777;
}

#feed .post .post-header .profile-img {
    background-image: url('/media/Nyawi.png');
    background-position: center;
    background-size: cover;
    
    cursor: pointer;

    width: 2.8rem;
    height: 2.8rem;

    border-radius: 50%;
}

#feed .post .post-header .user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#feed .post .post-username {
    color: #eee;
    font-size: 1rem;
    font-weight: bold;
}

#feed .post .post-date {
    width: auto;
    
    position: relative;
    color: #bbb;
    font-size: smaller;
}

#feed .post .post-date:hover {
    cursor: pointer;
    text-decoration: underline;
}

#feed .post .hover-date {
    color: #000;

    width: 13rem;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0.5rem);

    visibility: hidden;
}

#feed .post .post-date:hover .hover-date {
    background-color: #bbb;

    text-align: center;

    padding: 0.7rem;
    border-radius: 0.5rem;

    visibility: visible;
}

#feed .post .post-header .post-menu-button {
    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #ddd;
    font-size: 1.3rem;

    border-radius: 50%;
}

#feed .post .post-header .post-menu-button:hover {
    background-color: #444;
    cursor: pointer;
}

#feed .post .post-content {
    color: #eee;
    max-height: 10rem;
    
    position: relative;

    padding: 1rem 0.3rem;
    overflow-y: hidden;
}

#feed .post .more-button {
    background: linear-gradient(to top, 
        #333 0%,
        #333 40%,
        #333e 60%,
        #333d 80%,
        #333c 100%
        );
    color: #999;
    font-weight: bold;

    width: 99%;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#feed .post .more-button:hover {
    background: linear-gradient(to top, 
        #333 0%,
        #333a 40%,
        #3339 60%,
        #3338 80%,
        #3337 100%
    );

    color: #fff;
}

#post-menu {
    background-color: #444;
    width: 10rem;

    position: absolute;
    top: 65%;
    right: 0;

    border-radius: 0.5rem;
    overflow: hidden;
}

#post-menu .option {
    padding: 0.5rem;
}

#post-menu .option:hover {
    background-color: #555;
    cursor: pointer;
}

#post-menu #delete-post {
    color: #eee;
}

