#container {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;

    width: 100%;
    height: 100%;

    padding: 1rem;
}

#friend-requests, #find-friends {
    background-color: inherit;
    color: var(--bright);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

#friend-requests {
    border-bottom: 1px solid var(--bright);
}

.sub-header {
    width: 100%;
    margin-bottom: 0.7rem;
}

.sub-header h1 {
    font-size: 1.5rem;
}

.people {
    width: 90%;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, 17rem);
    gap: 1rem;

    margin: 0 auto;
}

.people .user-card {
    height: 24rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    border: 1px solid var(--gray);
    border-radius: 1rem;
    overflow: hidden;
}

.user-card .user-profile {
    background: url("/media/user.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70%;
}

.user-card .user-info {
    padding: 0.5rem;
}

.user-card .user-info span {
    font-size: 1.2rem;
    font-weight: bold;
}

.user-card .options {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem;
    padding-top: 0;
}

.user-card .options div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
}

.user-card .options .button {
    cursor: pointer;
    border-radius: 0.5rem;
}


.confirm-friend-request {
    background-color: #3157ff;
    color: var(--bright);
    font-weight: bold;
}

.confirm-friend-request:hover {
    background-color: #486aff;
}

.add-friend {
    background-color: #27314e;
    color: #00a2ff;
    font-weight: bold;
}

.add-friend:hover {
    background-color: #3e4d7a;
}

.remove-user,
.cancel-request, 
.delete-friend-request{
    background-color: var(--dark-gray);
    font-weight: bold;
}

.remove-user:hover,
.cancel-request:hover, 
.delete-friend-request:hover {
    background-color: var(--gray);
}

.request-accepted {
    background-color: var(--dark-gray);
    user-select: none;
    color: var(--light-gray);
    cursor: not-allowed !important;
}

