#container {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
}

/* MAIN CONTENT */
#main-content {
    /* Uncomment this bg-color to see area of #main-content */
    /* background-color: blue; */
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-content h1 {
    color: var(--bright);
}

#main-content button {
    padding: 0.7rem 2rem;
}

#write-post-container {
    background-color: var(--dark);
    width: 60%;

    display: flex;
    align-items: center;
    gap: 1rem;

    margin: 1rem;
    padding: 1rem;

    border-radius: 1rem;
}

#write-post-container .profile-img {
    width: 2.8rem;
    height: 2.8rem;
}

#write-post-container #create-post {
    cursor: pointer;

    background-color: var(--gray);
    width: 80%;

    padding: 0.7rem 1rem;
    border-radius: 1.2rem;
}

#write-post-container #create-post span {
    color: #ccc;
}

.profile-image {
    background-color: var(--brightest);
    /* Placeholder, for testing only */
    /* background-image: url('/assets/images/Nyawi.png');  */
    background-position: center;
    background-size: cover;
    
    cursor: pointer;

    width: 2.8rem;
    height: 2.8rem;

    border-radius: 50%;
}