#container {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
}

/* MAIN CONTENT */
#main-content {
    /* Uncomment this bg-color to see area of #main-content */
    /* background-color: blue; */
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-content h1 {
    color: var(--bright);
}

#main-content button {
    padding: 0.7rem 2rem;
}

#write-post-container {
    background-color: var(--dark);
    width: 60%;

    display: flex;
    align-items: center;
    gap: 1rem;

    margin: 1rem;
    padding: 1rem;

    border-radius: 1rem;
}

#write-post-container .profile-image {
    width: 2.8rem;
    height: 2.8rem;
}

#write-post-container #create-post {
    cursor: pointer;

    background-color: var(--gray);
    width: 80%;

    padding: 0.7rem 1rem;
    border-radius: 1.2rem;
}

#write-post-container #create-post span {
    color: #ccc;
}

/* General style for UI block */
#ui-block {
    width: 100vw;
    height: 100vh;
    background-color: #000a;

    position: fixed;
    top: 0;
    z-index: 2;
}

@media screen and (max-width: 600px) {
    
    #write-post-container {
        width: 160%;
        max-width: 600px;
        height: 100%;

        flex-direction: row;
        padding: 0.7rem 1rem;

        background-color: var(--dark);
        border: 1px solid var(--gray);
        
    }


    #main-content button {
        width: 100%;
        padding: 0.5rem;
    }

    
    #container {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }


    #write-post-container .profile-image {
        flex-shrink: 0;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        background-color: var(--gray);
    }
}
