:root {
    --nav-bar-height: 3.5rem;
    --highlight-border-thickness: 0.3rem;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

#nav-bar {
    height: calc(var(--nav-bar-height) + var(--highlight-border-thickness));

    background-color: var(--dark-gray);

    display: flex;
    justify-content: space-between;
    align-items: center;
 
    /* padding: 0.3rem 1rem; */
    padding: 0 1rem;
}

#nav-bar > :is(#logo, #profile) {
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

#nav-bar > ul {
    color: var(--bright);
    width: auto;

    display: flex;
    justify-content: center;
    gap: 1rem;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    margin: 0;
    padding: 0;
    list-style: none;
}

#nav-bar > ul li i {
    width: 7rem;
    height: var(--nav-bar-height);

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--bright);
    font-size: 1.5rem;

    border-bottom: var(--highlight-border-thickness) solid transparent;
    cursor: pointer;
}

#logo {
    color: var(--brightest);
    font-size: 1.2rem;
    font-weight: bold;
}

#profile #drop-down {
    background-color: var(--dark-gray);

    position: absolute;
    top: 60%;
    right: 1rem;

    color: var(--brightest);
    text-align: center;

    width: 1rem;
    height: 1rem;

    border: 1px solid var(--darkest);
    border-radius: 50%;
}

.profile-image {
    background-color: var(--bright);
    background-position: center;
    background-size: cover;
    
    cursor: pointer;

    width: 2.8rem;
    height: 2.8rem;

    border-radius: 50%;
}

.selected-page {
    border-bottom: 0.3rem solid var(--blue-button) !important;
}