.md-output > :is(h1, h2, h3, h4, h5, h6) {
    width: 100%;
    color: var(--bright);

    padding: 0;
    margin: 0;
}

.md-output > :is(h1, h2) {
    padding-bottom: 0.2rem;
    margin: 0.4rem 0;
    border-bottom: 1px solid var(--light-gray);
}

.md-output > :is(p) {
    width: 100%;
    padding: 0;
    margin: 0.4rem 0;

    letter-spacing: 0.5px;
    line-height: 1.5;
}

.md-output span:is(.quote) {
    display: block;

    background-color: #444;
    color: var(--bright);

    padding: 0.2rem 0.7rem;
    margin: 0.4rem 0;
    border-left: 0.3rem solid var(--light-gray);
}

.md-output span:is(.inline-code) {
    background-color: var(--dark-gray);
    color: var(--bright);
    
    padding: 0.1rem 0.4rem;
    margin: 0.4rem 0;
    border: 1px solid var(--light-gray);
    border-radius: 0.2rem;
}

.md-output > :is(strong, em) {
    display: inline-block;
    margin: 0.4rem 0;
}

.md-output a {
    text-decoration: none;
    color: var(--link);
    margin: 0.4rem 0;
}

.md-output a:hover {
    text-decoration: underline;
}

.md-output hr {
    margin-bottom: 2rem;
}

.md-output strong {
    letter-spacing: 0.5px;
}

.md-output img {
    display: block;
    margin: 0.5rem 0;
}

.md-output pre.code-block {
    background-color: var(--dark-gray);
    color: var(--bright);
    
    padding: 0.7rem;
    margin: 0.4rem 0;
    border: 1px solid var(--light-gray);
    border-radius: 0.2rem;

    overflow-x: auto;
}


.md-output pre.code-block::-webkit-scrollbar {
    height: 0.5rem;
}
