#write-post {
    background-color: #444;
    color: #fff;

    width: 50rem;
    height: 40rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);

    border-radius: 1rem;
}

#write-post .header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #777;
}

#write-post .header i {
    background-color: #555;
    cursor: pointer;

    position: absolute;
    right: 0;
    transform: translate(-1rem);

    font-size: 2rem;
    text-align: center;
    align-content: center;

    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}

#post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#post-editor {
    /* background-color: red; */
    width: 95%;
    height: 24.5rem;

    display: grid;
    grid-template-columns: 75% 1fr;
    gap: 1rem;
    padding: 1rem 0;

    position: relative;
}

#post-editor .editor-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.editor-section .sub-header {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
}   

.text-editor-section .sub-header {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid var(--gray);
}

#post-text {
    width: 100%;
    height: 100%;

    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 1px;
    line-height: 1.5;

    padding: 0 0.5rem;

    border: none;
    resize: none;
}

#post-text:focus {
    outline: none;
} 

#post-text::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--light-gray) var(--dark-gray);
}

#post-text::-webkit-scrollbar-thumb {
    background-color: var(--light-gray);
    border-radius: 1rem;
}

#post-text::-webkit-scrollbar-track {
    background-color: var(--dark-gray);
}

.images-list-section {
    background-color: var(--gray);
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--light-gray);
}

.images-list-section .sub-header {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid var(--bright);
}

.images-list-section .image {
    display: flex;
    justify-content: space-between;
}

.images-list-section i {
    cursor: pointer;
}

#images-list {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#add-to-your-post {
    background-color: var(--dark-gray);
    color: var(--bright);
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0.5rem 1rem;
    border: 1px solid var(--gray);
    border-radius: 1rem;
}

#add-to-your-post h2 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

#add-to-your-post i {
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#add-to-your-post i:hover {
    background-color: var(--gray);
    cursor: pointer;
}

#submit-post, #update-post {
    background-color: var(--blue-button);

    width: 90%;

    padding: 1rem;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    text-align: center;

    cursor: pointer;
}