:root {
    --bright: #eee;
    --brightest: #fff;

    --dark: #333;
    --darker: #222;
    --darkest: #000;

    --lighter-gray: #999;
    --light-gray: #777;
    --gray: #555;
    --dark-gray: #444;
}