#side-bar {
    /* Uncomment this bg-color to see area of #side-bar */
    /* background-color: #ff0000aa; */
    width: 20%;
    height: 100%;
    
    display: flex;

    position: fixed;
    flex-direction: column;
    align-items: center;

    padding: 1rem 0;
}

#side-bar span {
    width: 90%;
    color: var(--bright);
    font-size: 1rem;

    margin: 0.5rem 0;
}

#side-bar .user-info {
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    padding: 0.5rem;
    border-radius: 0.5rem;

    opacity: 0.7;
}

#side-bar .user-info .content { 
    height: 2.3rem;
   
    display: flex;
    align-content: center;
    gap: 0.5rem;
}

#side-bar .user-info:hover {
    background-color: var(--gray);
    cursor: pointer;
}

#side-bar .user-info .profile-image {
    background-color: var(--bright);
    width: 2rem;
    height: 2rem;
}

#side-bar .user-info .content .username-text {
    color: var(--bright);

    display: flex;
    align-items: center;

    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.change-profile-image {
    width: 2.3rem;
    height: 2.3rem;

    background-color: var(--dark-gray);
    color: var(--bright);
    font-size: 1.3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}


.user-info.highlighted {
    opacity: 1 !important;
}
