#user-menu {
    background-color: var(--dark-gray);
    cursor: auto;

    position: fixed;
    top:7.2%;
    right: 0.5rem;

    display: flex;
    flex-direction: column;
    
    width: 22rem;
    padding: 0.5rem;

    border-radius: 1rem;
    z-index: 1;
}

#user-menu .user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

#user-menu .user-info h1 {
    color: var(--bright);
    font-size: 1.5rem;
}

.menu-option {
    color: var(--bright);

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;

    cursor: pointer;

    padding: 0.3rem 1rem;
}

.menu-option .text {
    font-size: 1rem;
    font-weight: bold;
}

.menu-option:hover {
    background-color: var(--gray);
    border-radius: 1rem;
}

.menu-option i {
    background-color: var(--gray);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;

    font-size: 1.5rem;
    border-radius: 50%;
}

#user-menu h2 {
    color: var(--bright);
    padding: 1rem;
    margin: 0;
}

#user-menu .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-menu p {
    color: var(--bright);
    width: 90%;
    font-size: 1.1rem;
    text-align: center;
    
    margin-top: 0;
}

.delete-option {
    display: flex;
    gap: 0.5em;
}

.delete-option .option {
    background-color: var(--gray);

    color: var(--bright);
    font-size: 1rem;
    font-weight: bold;

    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

.delete-option .option:hover {
    background-color: var(--gray);
    cursor: pointer;
}

#change-username-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    margin-bottom: 0.7rem;
    width: 75%;
}

.input .text {
    color: var(--bright);
}

.input input {
    padding: 0.5rem 0.5rem;
}

.input button {
    cursor: pointer;
    width: 100%;
    padding: 0.5rem 0.5rem;
}