#write-post {
    background-color: #444;
    color: #fff;

    width: 40rem;
    height: 35rem;

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 1rem;
}

#write-post .header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #777;
}

#write-post .header i {
    background-color: #555;
    cursor: pointer;

    position: absolute;
    right: 0;
    transform: translate(-1rem);

    font-size: 2rem;
    text-align: center;
    align-content: center;

    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}

#post-container {
    height: 19rem;

    display: flex;
    flex-direction: column;
    padding: 1rem;

    position: relative;
    overflow-y: auto;
}

#post-container::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--light-gray) var(--dark-gray);
}

#post-container::-webkit-scrollbar-thumb {
    background-color: var(--light-gray);
    border-radius: 1rem;
}

#post-container::-webkit-scrollbar-track {
    background-color: var(--dark-gray);
}

#post-text {
    flex-grow: 1;
}

#post-text:focus {
    outline: none;
} 

#post-text img {
    max-width: 20rem;
    max-height: 20rem;
}

#placeholder  {
    position: absolute;
    top: 0;
    left: 0;

    padding: 1rem;
    color: var(--light-gray);
    pointer-events: none;
}

#submit-post {
    background-color: rgb(49, 87, 255);

    width: 90%;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -1rem);

    padding: 1rem;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    text-align: center;

    cursor: pointer;
}

#add-to-your-post {
    background-color: var(--dark-gray);
    color: var(--bright);
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -5rem);
    
    padding: 0.5rem 1rem;
    border: 1px solid var(--gray);
    border-radius: 1rem;
}

#add-to-your-post h2 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

#add-to-your-post i {
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#add-to-your-post i:hover {
    background-color: var(--gray);
    cursor: pointer;
}